.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.change-photo {
    padding: 5px 10px;
    border: 1px solid #ccc;
}
